body {
    max-width: 700px;
    height: 100vh;
    margin: auto;
}

p {
    margin: 0;
}

ul {
    padding-left: 1em;
}

#typing{
    margin-top: -2em;
}
#commands li {
    margin-left: 1em;
}

#commands {
    background-color: white;
    border: solid black 2px;
    border-radius: 5px;
}

#messages{ 
    list-style-type: none; margin: 0; padding: 0; 
}

#messages li {
    padding: 15px 15px; 
    border: solid 0.5px grey;
    border-radius: 10px;
    margin-top: 5px;
}

#messages img {
    margin-left: 0px;
}

#commands {
    display: none;
}
#commands ul {
    list-style-type: none;
}

#mainWrap{
    display:none;
    margin: 0;
}

