body {
    max-width: 500px;
    margin: auto;
}

#messages{ 
    list-style-type: none; margin: 0; padding: 0; 
}

#messages li {
    padding: 15px 15px; 
}
    
#messages li:nth-child(odd) {
    background: #eee; 
}


#messages img {
    margin-left: 0px;
}

#commands {
    display: none;
}
#commands ul {
    list-style-type: none;
}